<section class="content o-bid-content_with_sidebar">
    <div class="container-fluid">
        <!-- LIVE AUCTIONS -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>FEATURE AUCTIONS</strong></h2>
                        <breadcrumb-cmp [data]="breadcrumbs"></breadcrumb-cmp>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li class="active" role="presentation">
                                <a aria-expanded="true" data-toggle="tab" href="#category{{categoryAll.id}}">{{categoryAll.name}}</a>
                            </li>
                            <li *ngFor="let category of categories" role="presentation">
                                <a aria-expanded="true" data-toggle="tab" href="#category{{category.id}}">{{category.name}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="category{{categoryAll.id}}" role="tabpanel">
                                <category-feature-cmp [data]="categoryAll"></category-feature-cmp>
                            </div>
                            <div *ngFor="let category of categories" class="tab-pane fade" id="category{{category.id}}" role="tabpanel">
                                <category-feature-cmp [data]="category"></category-feature-cmp>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>