<section class="content o-bid-content_with_sidebar">
    <div class="container-fluid">
        <!-- LIVE AUCTIONS -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>LIVE AUCTIONS</strong></h2>
                        <breadcrumb-cmp [data]="breadcrumbs"></breadcrumb-cmp>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="o-bid-button-group">
                                    <button class="btn btn-block btn-lg {{rla1.isActive ? 'btn-primary' : 'btn-default'}} waves-effect" type="button" routerLinkActive
                                        #rla1="routerLinkActive" [routerLink]="['./live']">
                                        <i class="mdi mdi-gavel pull-left"></i>
                                        <h5 class="pull-left">LIVE AUCTIONS</h5>
                                        <span class="badge pull-right">2</span>
                                    </button>
                                    <button class="btn btn-block btn-lg {{rla2.isActive ? 'btn-primary' : 'btn-default'}} waves-effect" type="button" routerLinkActive
                                        #rla2="routerLinkActive" [routerLink]="['./watch']">
                                        <i class="mdi mdi-eye pull-left"></i>
                                        <h5 class="pull-left">WATCHED AUCTIONS</h5>
                                        <span class="badge pull-right">2</span>
                                    </button>
                                    <button class="btn btn-block btn-lg btn-default waves-effect" type="button">
                                        <i class="mdi mdi-history pull-left"></i>
                                        <h5 class="pull-left">HISTORY</h5>
                                        <span class="badge pull-right">5</span>
                                    </button>
                                    <button class="btn btn-block btn-lg btn-default waves-effect" type="button">
                                        <i class="mdi mdi-bell pull-left"></i>
                                        <h5 class="pull-left">NOTIFICATIONS</h5>
                                        <span class="badge pull-right">5</span>
                                    </button>
                                    <button class="btn btn-block btn-lg btn-default waves-effect" type="button">
                                        <i class="mdi mdi-credit-card pull-left"></i>
                                        <h5 class="pull-left">BILLING</h5>
                                        <span class="badge pull-right">2</span>
                                    </button>
                                    <button class="btn btn-block btn-lg btn-default waves-effect" type="button">
                                        <i class="mdi mdi-account-settings-variant pull-left"></i>
                                        <h5 class="pull-left">PROFILE</h5>
                                        <span class="badge pull-right">2</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>