<div class="thumbnail o-bid-card">
    <header class="o-bid-card__header">
        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="{{data.product.img}}"></a>
        <button class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float" type="button"><i class="material-icons">dashboard</i></button>
        <div *ngIf="data.product.new" class="ribbon">
            <div class="label">
                NEW
            </div>
        </div>
    </header>
    <div class="o-bid-card__content">
        <h3 class="o-bid-card__title">{{data.product.name | truncate : 5 }} <span class="o-bid-card__title pull-right">{{data.product.price}}£</span></h3>
        <p>{{data.product.description | truncate: 50}}<a class="text-primary" href="#0">Details</a>
        </p>
        <div class="ratings obid-product_cart">
            <p class="pull-right">{{data.contrib}} <span class="fa fa-users"></span></p>
            <p class="text-primary"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>                <span class="fa fa-star-o"></span></p>
        </div>
    </div>
    <footer class="o-bid-card__footer">
        <a class="o-bid-card__showmore o-bid-card__showmore_pos-right font-bold col-pink obid-chrono" href="#0"><i class="fa fa-clock-o"></i> 00:00:12</a>        <button class="btn btn-primary waves-effect" type="button">BID NOW</button>
    </footer>
</div>