<nav class="o-bid-center">
    <ul class="pagination">
        <li class="disabled">
            <a href="javascript:void(0);"><i class="material-icons">chevron_left</i></a>
        </li>
        <li *ngFor="let page of pages" [ngClass]="{active: page == pageNumber}">
            <a [ngClass]="{'waves-effect': page != pageNumber}" href="#">{{page}}</a>
        </li>
        <li>
            <a class="waves-effect" href="#"><i class="material-icons">chevron_right</i></a>
        </li>
    </ul>
</nav>