<nav class="o-bid-center">
    <ul class="pagination">
        <li [ngClass]="{disabled: !chevronLeftActive}" >
            <a [ngClass]="{'waves-effect': chevronLeftActive}" (click)="onPageLeftClick()"><i class="material-icons">chevron_left</i></a>
        </li>
        <li *ngFor="let page of pages" [ngClass]="{active: page == pageData.current}">
            <a [ngClass]="{'waves-effect': page != pageData.current}" (click)="onClick(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled: !chevronRightActive}">
            <a [ngClass]="{'waves-effect': chevronRightActive}"  (click)="onPageRightClick()"><i class="material-icons">chevron_right</i></a>
        </li>
    </ul>
</nav>