<section class="content o-bid-content_with_sidebar">
    <div class="container-fluid">
        <!-- LIVE AUCTIONS -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>{{category.name}}</strong></h2>
                        <breadcrumb-cmp [data]="breadcrumbs"></breadcrumb-cmp>
                    </div>
                    <div class="body">
                        <!-- Live Auctions -->
                        <category-live-cmp [data]="category"></category-live-cmp>
                        <!-- Feature Auctions -->
                        <category-feature-cmp [data]="category"></category-feature-cmp>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>