<section class="content o-bid-content_with_sidebar">
    <div class="container-fluid">
        <!-- LIVE AUCTIONS -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>CATEGORIES</strong></h2>
                        <breadcrumb-cmp [data]="breadcrumbs"></breadcrumb-cmp>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li *ngFor="let category of categories; let i = index" [ngClass]="{active: i == 0}" role="presentation">
                                <a aria-expanded="true" data-toggle="tab" href="#category{{category.id}}">{{category.name}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div *ngFor="let category of categories; let i = index" class="tab-pane fade" [ngClass]="{'active in': i == 0}" id="category{{category.id}}"
                                role="tabpanel">
                                <!-- Live Auctions -->
                                <h4>LIVE AUCTIONS</h4>
                                <hr class="o-bid-hr-tabs">
                                <category-live-cmp [data]="category"></category-live-cmp>
                                <!-- Feature Auctions -->
                                <h4>FEATURE AUCTIONS</h4>
                                <hr class="o-bid-hr-tabs">
                                <category-feature-cmp [data]="category"></category-feature-cmp>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>