<section class="content o-bid-content_with_sidebar">
    <div class="container-fluid">
        <!-- LIVE AUCTIONS -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>{{category.name}}</strong></h2>
                        <breadcrumb-cmp [data]="breadcrumbs"></breadcrumb-cmp>
                    </div>
                    <div class="body">

                        <!-- Live Auctions -->
                        <h4>LIVE AUCTIONS</h4>
                        <hr class="o-bid-hr-tabs">
                        <div class="row">

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail o-bid-card">
                                    <header class="o-bid-card__header">
                                        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
                                        <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float">
                                                <i class="material-icons">dashboard</i>
                                            </button>
                                        <div class="ribbon">
                                            <div class="label">
                                                NEW
                                            </div>
                                        </div>

                                    </header>
                                    <div class="o-bid-card__content">
                                        <h3 class="o-bid-card__title">Thumbnail label <span class="o-bid-card__title pull-right">40.00£</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque
                                            id dignissimos fugiat... <a class="text-primary" href="#0">Details</a></p>
                                        <div class="ratings obid-product_cart">
                                            <p class="pull-right">15 <span class="fa fa-users"></span></p>
                                            <p class="text-primary"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>                                                <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></p>
                                        </div>
                                    </div>
                                    <footer class="o-bid-card__footer">
                                        <a class="o-bid-card__showmore o-bid-card__showmore_pos-right font-bold col-pink obid-chrono" href="#0"><i class="fa fa-clock-o"></i> 00:00:12</a>                                        <button type="button" class="btn btn-primary waves-effect">BID NOW</button>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail o-bid-card">
                                    <header class="o-bid-card__header">
                                        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
                                        <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float">
                                                <i class="material-icons">dashboard</i>
                                            </button>
                                        <div class="ribbon">
                                            <div class="label">
                                                NEW
                                            </div>
                                        </div>

                                    </header>
                                    <div class="o-bid-card__content">
                                        <h3 class="o-bid-card__title">Thumbnail label <span class="o-bid-card__title pull-right">40.00£</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque
                                            id dignissimos fugiat... <a class="text-primary" href="#0">Details</a></p>
                                        <div class="ratings obid-product_cart">
                                            <p class="pull-right">15 <span class="fa fa-users"></span></p>
                                            <p class="text-primary"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>                                                <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></p>
                                        </div>
                                    </div>
                                    <footer class="o-bid-card__footer">
                                        <a class="o-bid-card__showmore o-bid-card__showmore_pos-right font-bold col-pink obid-chrono" href="#0"><i class="fa fa-clock-o"></i> 00:00:12</a>                                        <button type="button" class="btn btn-primary waves-effect">BID NOW</button>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail o-bid-card">
                                    <header class="o-bid-card__header">
                                        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
                                        <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float">
                                                <i class="material-icons">dashboard</i>
                                            </button>
                                        <div class="ribbon">
                                            <div class="label">
                                                NEW
                                            </div>
                                        </div>

                                    </header>
                                    <div class="o-bid-card__content">
                                        <h3 class="o-bid-card__title">Thumbnail label <span class="o-bid-card__title pull-right">40.00£</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque
                                            id dignissimos fugiat... <a class="text-primary" href="#0">Details</a></p>
                                        <div class="ratings obid-product_cart">
                                            <p class="pull-right">15 <span class="fa fa-users"></span></p>
                                            <p class="text-primary"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>                                                <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></p>
                                        </div>
                                    </div>
                                    <footer class="o-bid-card__footer">
                                        <a class="o-bid-card__showmore o-bid-card__showmore_pos-right font-bold col-pink obid-chrono" href="#0"><i class="fa fa-clock-o"></i> 00:00:12</a>                                        <button type="button" class="btn btn-primary waves-effect">BID NOW</button>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail o-bid-card">
                                    <header class="o-bid-card__header">
                                        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
                                        <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float">
                                                <i class="material-icons">dashboard</i>
                                            </button>
                                        <div class="ribbon">
                                            <div class="label">
                                                NEW
                                            </div>
                                        </div>

                                    </header>
                                    <div class="o-bid-card__content">
                                        <h3 class="o-bid-card__title">Thumbnail label <span class="o-bid-card__title pull-right">40.00£</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque
                                            id dignissimos fugiat... <a class="text-primary" href="#0">Details</a></p>
                                        <div class="ratings obid-product_cart">
                                            <p class="pull-right">15 <span class="fa fa-users"></span></p>
                                            <p class="text-primary"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>                                                <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></p>
                                        </div>
                                    </div>
                                    <footer class="o-bid-card__footer">
                                        <a class="o-bid-card__showmore o-bid-card__showmore_pos-right font-bold col-pink obid-chrono" href="#0"><i class="fa fa-clock-o"></i> 00:00:12</a>                                        <button type="button" class="btn btn-primary waves-effect">BID NOW</button>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <nav class="text-center">
                                    <ul class="pagination">
                                        <li class="disabled">
                                            <a href="javascript:void(0);">
                                                <i class="material-icons">chevron_left</i>
                                            </a>
                                        </li>
                                        <li class="active"><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                        <li>
                                            <a href="javascript:void(0);" class="waves-effect">
                                                <i class="material-icons">chevron_right</i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <!-- Feature Auctions -->
                        <h4>FEATURE AUCTIONS</h4>
                        <hr class="o-bid-hr-tabs">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail o-bid-card">
                                    <header class="o-bid-card__header">
                                        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
                                        <button class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float"
                                            type="button"><i class="material-icons">remove_red_eye</i></button>
                                        <div class="ribbon">
                                            <div class="label">
                                                NEW
                                            </div>
                                        </div>
                                    </header>
                                    <div class="o-bid-card__content">
                                        <h3 class="o-bid-card__title">Thumbnail label<span class="o-bid-card__title pull-right">40.00£</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque
                                            id dignissimos fugiat... <a class="text-primary" href="#0">Details</a></p>
                                    </div>
                                    <footer class="o-bid-card__footer">
                                        <button type="button" class="btn btn-warning waves-effect pull-right">READ MORE</button>                                        <a class="o-bid-card__showmore o-bid-card__showmore_pos-left font-bold col-pink obid-chrono"
                                            href="#0"><i class="fa fa-calendar"></i> 12/11/2017</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail o-bid-card">
                                    <header class="o-bid-card__header">
                                        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
                                    </header>
                                    <div class="o-bid-card__content">
                                        <h3 class="o-bid-card__title">Thumbnail label<span class="o-bid-card__title pull-right">40.00£</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque
                                            id dignissimos fugiat... <a class="text-primary" href="#0">Details</a></p>
                                    </div>
                                    <footer class="o-bid-card__footer">
                                        <button type="button" class="btn btn-warning waves-effect pull-right">READ MORE</button>                                        <a class="o-bid-card__showmore o-bid-card__showmore_pos-left font-bold col-pink obid-chrono"
                                            href="#0"><i class="fa fa-calendar"></i> 12/11/2017</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail o-bid-card">
                                    <header class="o-bid-card__header">
                                        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
                                    </header>
                                    <div class="o-bid-card__content">
                                        <h3 class="o-bid-card__title">Thumbnail label<span class="o-bid-card__title pull-right">40.00£</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque
                                            id dignissimos fugiat... <a class="text-primary" href="#0">Details</a></p>
                                    </div>
                                    <footer class="o-bid-card__footer">
                                        <button type="button" class="btn btn-warning waves-effect pull-right">READ MORE</button>                                        <a class="o-bid-card__showmore o-bid-card__showmore_pos-left font-bold col-pink obid-chrono"
                                            href="#0"><i class="fa fa-calendar"></i> 12/11/2017</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <nav class="text-center">
                                    <ul class="pagination">
                                        <li class="disabled">
                                            <a href="javascript:void(0);">
                                                <i class="material-icons">chevron_left</i>
                                            </a>
                                        </li>
                                        <li class="active"><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                        <li>
                                            <a href="javascript:void(0);" class="waves-effect">
                                                <i class="material-icons">chevron_right</i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>