<div class="row">
    <div *ngFor="let item of bids" class="col-sm-6 col-md-3">
        <bid-live-cmp [data]="item"></bid-live-cmp>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12">
        <nav class="text-center">
            <ul class="pagination">
                <li class="disabled">
                    <a href="javascript:void(0);"><i class="material-icons">chevron_left</i></a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);">1</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:void(0);">2</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:void(0);">3</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:void(0);">4</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:void(0);">5</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:void(0);"><i class="material-icons">chevron_right</i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>