<div class="thumbnail o-bid-card">
    <header class="o-bid-card__header">
        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="{{data.product.img}}"></a>
        <button class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float" type="button"><i class="material-icons">remove_red_eye</i></button>
        <div *ngIf="data.product.new" class="ribbon">
            <div class="label">
                NEW
            </div>
        </div>
    </header>
    <div class="o-bid-card__content">
        <h3 class="o-bid-card__title">{{data.product.name | words : 3 }} <span class="o-bid-card__title pull-right">40.00£</span></h3>
        <p>{{data.product.description | words : 8 }}<a class="text-primary" href="#0">Details</a></p>
    </div>
    <footer class="o-bid-card__footer">
        <button class="btn btn-warning waves-effect pull-right" type="button">READ MORE</button>
        <a class="o-bid-card__showmore o-bid-card__showmore_pos-left font-bold col-pink obid-chrono" href="#0"><i class="fa fa-calendar"></i> {{ data.time_start | calendardate }}</a>
    </footer>
</div>