<div class="thumbnail o-bid-card">
    <header class="o-bid-card__header">
        <a href="#0"><img alt="Thumbnail label" class="o-bid-card__img" src="http://stas-melnikov.ru/cliparts/clipart_girl2_1024x640.jpg"></a>
        <button class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left obid-product_button-float" type="button"><i class="material-icons">remove_red_eye</i></button>
        <div class="ribbon">
            <div class="label">
                NEW
            </div>
        </div>
    </header>
    <div class="o-bid-card__content">
        <h3 class="o-bid-card__title">Thumbnail label<span class="o-bid-card__title pull-right">40.00£</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque id dignissimos fugiat... <a
                class="text-primary" href="#0">Details</a></p>
    </div>
    <footer class="o-bid-card__footer">
        <button class="btn btn-warning waves-effect pull-right" type="button">READ MORE</button>
        <a class="o-bid-card__showmore o-bid-card__showmore_pos-left font-bold col-pink obid-chrono"
            href="#0"><i class="fa fa-calendar"></i> 12/11/2017</a>
    </footer>
</div>