<section class="content o-bid-content_with_sidebar">
    <div class="container-fluid">
        <!-- LIVE AUCTIONS -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>LIVE AUCTIONS</strong></h2>
                        <breadcrumb-cmp [data]="breadcrumbs"></breadcrumb-cmp>
                    </div>
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active"><a href="#home" data-toggle="tab" aria-expanded="true">ALL</a></li>
                            <li role="presentation" class=""><a href="#profile" data-toggle="tab" aria-expanded="false">CATEGORY 1</a></li>
                            <li role="presentation" class=""><a href="#messages" data-toggle="tab" aria-expanded="false">CATEGORY 2</a></li>
                            <li role="presentation"><a href="#settings" data-toggle="tab">CATEGORY 3</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="home">
                                <div class="row">
                                    <div *ngFor="let item of products" class="col-sm-6 col-md-3">
                                        <prod-live-cmp [data]="item"></prod-live-cmp>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                <b>Profile Content</b>
                                <p>
                                    Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                                    Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid pro.
                                    Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren sadipscing
                                    mel.
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                <b>Message Content</b>
                                <p>
                                    Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                                    Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid pro.
                                    Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren sadipscing
                                    mel.
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="settings">
                                <b>Settings Content</b>
                                <p>
                                    Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                                    Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid pro.
                                    Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren sadipscing
                                    mel.
                                </p>
                            </div>
                        </div>


                        <nav>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="javascript:void(0);" class="waves-effect"><span aria-hidden="true">←</span> Older</a>
                                </li>
                                <li class="next">
                                    <a href="javascript:void(0);" class="waves-effect">Newer <span aria-hidden="true">→</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>