<div class="login-box">
    <logo-access-cmp></logo-access-cmp>
    <div class="card">
        <div class="body">
            <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="msg">Sign in to start your session</div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">person</i>
                    </span>
                    <md-input-container class="o-bid-form_input">
                        <input type="email" name="email" placeholder="E-mail" formControlName="email" required mdInput>
                        <md-hint *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')" [ngStyle]="{'color': 'red'}"
                            align="start">
                            E-mail required
                        </md-hint>
                        <md-hint *ngIf="loginForm.controls['email'].dirty && loginForm.controls.email.errors?.email" [ngStyle]="{'color': 'red'}"
                            align="start">
                            E-mail format
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                    </span>
                    <md-input-container class="o-bid-form_input">
                        <input type="password" name="password" placeholder="Password" formControlName="password" size="40" required mdInput>
                        <md-hint *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" [ngStyle]="{'color': 'red'}">
                            Password required
                        </md-hint>
                        <md-hint *ngIf="loginForm.controls['password'].dirty && loginForm.controls.password.errors?.rangeLength" [ngStyle]="{'color': 'red'}">
                            Password min length 10
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a routerLink="/access/signup">Register Now!</a>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a routerLink="/access/forgetpass">Forgot Password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>