<div class="login-box">
    <logo-access-cmp></logo-access-cmp>
    <div class="card">
        <div class="body">
            <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
                <div class="msg">Sign in to start your session</div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">person</i>
                    </span>
                    <md-input-container class="o-bid-form_input">
                        <input mdInput placeholder="E-mail" value="">
                    </md-input-container>
                    <label class="error" *ngIf="user.controls.email.errors?.required && user.get('email').touched">This field is required.</label>
                    <label class="error" *ngIf="user.controls.email.errors?.email && user.get('email').touched">This field is not email type.</label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                    </span>
                    <md-input-container class="o-bid-form_input">
                        <input mdInput placeholder="Password" value="" type="password" required>
                        <md-error>required</md-error>
                    </md-input-container>
                    <label class="error" *ngIf="user.controls.password.errors?.required && user.get('password').touched">This field is required.</label>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit" [disabled]="user.invalid">SIGN IN</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a routerLink="/access/signup">Register Now!</a>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a routerLink="/access/forgetpass">Forgot Password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>