<div class="fp-box">
    <logo-access-cmp></logo-access-cmp>
    <div class="card">
        <div class="body">
            <form id="forgot_password" method="POST">
                <div class="msg">
                    Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                    <md-input-container class="o-bid-form_input">
                        <input mdInput placeholder="Email" value="" type="email" required>
                        <md-error>required</md-error>
                    </md-input-container>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">RESET MY PASSWORD</button>

                <div class="row m-t-20 m-b--5 align-center">
                    <a routerLink="/access/login">Sign In!</a>
                </div>
            </form>
        </div>
    </div>
</div>