<div class="signup-box">
	<logo-access-cmp></logo-access-cmp>
	<div class="card">
		<div class="body">
			<form id="sign_up" method="POST">
				<div class="msg">Register a new membership</div>
				<div class="input-group">
					<span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
					<md-input-container class="o-bid-form_input">
						<input mdInput placeholder="Name Surname" value="" required>
						<md-error>required</md-error>
					</md-input-container>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
					<md-input-container class="o-bid-form_input">
						<input mdInput placeholder="Email Address" value="" type="email" required>
						<md-error>required</md-error>
					</md-input-container>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
					<md-input-container class="o-bid-form_input">
						<input mdInput placeholder="Password" value="" type="password" required>
						<md-error>required</md-error>
					</md-input-container>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
					<md-input-container class="o-bid-form_input">
						<input mdInput placeholder="Confirm Password" value="" type="password" required>
						<md-error>required</md-error>
					</md-input-container>
				</div>
				<div class="form-group">
					<input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
					<label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
				</div>

				<button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

				<div class="m-t-25 m-b--5 align-center">
					<a routerLink="/access/login">You already have a membership?</a>
				</div>
			</form>
		</div>
	</div>
</div>